[project]
name = "app"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "dishka>=1.7.2",
    "langchain[openai]>=1.2.3",
    "python-dotenv>=1.2.1",
]
